spring:
  data:
    cassandra:
      keyspace-name: mycompany
      contact-points: ${CASSANDRA_HOST:localhost}
      local-datacenter: datacenter1
      port: ${CASSANDRA_PORT:9042}
      schema-action: CREATE_IF_NOT_EXISTS
      request:
        timeout: 10s
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}

management:
  endpoints:
    web:
      exposure.include: beans, env, health, info, metrics, mappings
  endpoint:
    health:
      show-details: always

springdoc:
  show-actuator: true
  swagger-ui:
    groups-order: DESC
    disable-swagger-default-url: true

logging:
  level:
    org.springframework.vault: DEBUG
